# Environment variables secret file
.env

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# SQLite fallback DB
*.sqlite3
*.sqlite3-journal

# Media uploaded files
media/

# IDE files
.vscode/
.idea/
